%p
  Now that you have a copy of the project in Github, you need to clone it into your computer. To do that, you can use
  a tool like
  =link_to 'SourceTree', 'http://www.sourcetreeapp.com/'
  ,
  =link_to 'GitHub', 'http://windows.github.com/'
  or
  =link_to 'Tortoise Git', 'https://code.google.com/p/tortoisegit/'
  or just the command line.