%p
  The next step will be to fork this project. That will give you a rails application that is functional, which we will
  then use to improve and learn while doing it.
%p
  To fork it, click on the link on the top right of the screen, and then on the Fork button.
%p
  This will create you a copy of the project in Github.
