%p
  Another interactive lesson! I know, these are too many and all at the same time. They are introductory and will
  guide you to some basic knowledge on the tools we're using. You should come back later and try them again, so you
  can pick up on the concepts that you can't really understand right at this moment.

%p
  The next tutorials is on
  =link_to 'Git', 'http://try.github.io/'
  , and comes from GitHub.