%p
  HackerNews is a mandatory read for anyone trying to work in a tech startup. It is not all about programming (actually,
  I'd say it does not relate to programming at all).

  You can read it from #{link_to 'here', 'https://news.ycombinator.com/'}.

