%p
  This is a website that is aimed at helping newbie programmers to get into the world of programming Ruby
  on Rails websites, leaving them in a level that will allow them to apply for jobs as junior developers in a Rails
  startup.