%p
  Programming is a hard craft. You'll need to keep up to date in the latests developments (ok, not necessarily
  the latest, but at least know what's happening around you). So the next few steps will help you get into the
  world that other programmers look into every day.

%p Remember to bookmark these links as they are a good reference for the future.