%p
  Similar to the one we made from Ruby, this interactive course from
  =link_to 'CodeSchool','http://railsforzombies.org/'
  will teach you some Rails concepts. And, it uses Zombies as an example,
  which is always a plus.