%p
  An important tool of every programmer is it's GitHub account.

  This will serve you as credentials for many sites, and also as a portfolio for potential employers (and also, git is
  a great tool for versioning, so there's that).

  It is important to do it as early as possible, so that you can start learning the ropes of github and git.

%p
  So go on, register in
  =link_to 'GitHub', 'http://www.github.com'