%p
  As you're getting good with the interactive lessons, then you should also try out
  =link_to 'CodeSchool', 'http://rspec.codeschool.com/'
  lessons about Rspec. Rspec is a language for testing and it works wonderfully with Rails.