%p
  To try out some of the most basic concepts of Ruby, I found that
  =link_to 'CodeSchool','https://www.codeschool.com/courses/try-ruby'
  is very good. It will slowly guide you through some basic concepts of ruby,
  allowing you to try things out inside the browser.