%p
  After that simple lesson, you can now enter some more detailed concepts of ruby. The site
  = link_to 'Ruby Koans', 'http://koans.heroku.com/en'
  will let teach you some slightly more advanced concepts of ruby. This is a good resource to come back
  from time to time and complete, so that the concepts engrave in your mind.
