%p
  %i
    %b shu
    "protect", "obey" — traditional wisdom — learning fundamentals, techniques, heuristics, proverbs

%p
  In the next set of steps we'll see the fundamentals, initial concepts that will help us train our mind to the
  simplest parts of Ruby, Rails and Web development.