%p
  %i Shuhari
  is a Japanese martial art concept, and describes the stages of learning to mastery.

%p
  Shuhari roughly translates to "first learn, then detach, and finally transcend."
  %ul
    %li
      %b shu
      "protect", "obey" — traditional wisdom — learning fundamentals, techniques, heuristics, proverbs
    %li
      %b ha
      "detach", "digress" — breaking with tradition — detachment from the illusions of self
    %li
      %b ri
      "leave", "separate" — transcendence — there are no techniques or proverbs, all moves are natural,
      becoming one with spirit alone without clinging to forms; transcending the physical

%p
  The remaining steps will be organized in that fashion. First the fundamentals, then starting to create the own path
  and finally transcending.