%p
  You will get stuck. You need to know how to get yourself out of those situations.

  There are some tools that are essential to every programmer. One of them is, of course, Google.
  If you know the right question to ask, then you'll probably find someone that had the same problem as you do.