%p
  For keeping up to date and learning new techniques, it is also useful to subscribe to blogs or podcasts. You can
  use #{link_to 'RailsCasts', 'http://railscasts.com/'} for some videos and tutorials on rails stuff.