%p
  Another site to help you when you get stuck, is #{link_to 'StackOverflow' , 'http://www.stackoverflow.com'}. It's a website with questions and answers about
  programming. You can either find someone else that had the same problem, and use their experience, or just ask
  the question yourself and receive some help from the community.