%p
  Ruby is a general-purpose programming language, which means, it is a programming language
  designed to be used for writing software in a wide variety of application domains.

%p
  You can get more information from
  #{link_to 'Wikipedia' , 'http://en.wikipedia.org/wiki/Ruby_(programming_language)'}