%p
  Ruby on Rails, often simply Rails, is an open source web application framework which runs via the
  Ruby programming language. It is a full-stack framework: it allows creating pages and applications that
  gather information from the web server, talk to or query the database, and render templates out of the box.
  
%p
  You can get more information from
  #{link_to 'Wikipedia' , 'http://en.wikipedia.org/wiki/Ruby_on_Rails'}