%p
  You might find this blog interesting: #{link_to 'http://joshuakemp.blogspot.co.uk/', 'http://joshuakemp.blogspot.co.uk/'}.
  This guy taught himself how to program in 7 months. He posted about most of the journey, so you can see the things
  that were happening to him and how he handled each situation.

